body {
    background-size: cover;
}

.heading {
    font-size: 21px;
    font-weight: bold;
    font-variant: small-caps;
    width: 100%;
    word-spacing: 20px;
    letter-spacing: 27px;
    margin: 0px;
}

.button1 {
    font-size: 25px;
    width: 10%;
    height: 8%;
    font-weight: bolder;
}
